## Project 3: Textual Data

#### Imports

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt
import matplotlib as mpl
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline


from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import RidgeClassifier

#### Importing and Cleaning Dataset

In [58]:
sdg_names = pd.read_excel("/Users/aidan/Documents/applieddatascience/sample_code/Digital+Science+SDG+training+set+searches.xlsx")
sdg_names

,Unnamed: 0,Each tab contains the keywords/phrases used for generating the training set.,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Goal,Name,NaN
3,1,No Poverty,End poverty in all its forms everywhere
4,2,Zero Hunger,"End hunger, achieve food security and improved..."
5,3,Good Health and Well Being,Ensure healthy lives and promote well-being fo...
6,4,Quality Education,Ensure inclusive and equitable quality educati...
7,5,Gender Equality,Achieve gender equality and empower all women ...
8,6,Clean Water and Sanitation,Ensure availability and sustainable management...
9,7,Affordable and Clean Energy,"Ensure access to affordable, reliable, sustain..."
10,8,Decent Work and Economic Growth,"Promote sustained, inclusive and sustainable e..."
11,9,"Industry, Innovation and Infrastructure","Build resilient infrastructure, promote inclus..."
12,10,Reduced Inequalities,Reduce inequality within and among countries
13,11,Sustainable Cities and Communities,"Make cities and human settlements inclusive, s..."
14,12,Responsible Consumption and Production,Ensure sustainable consumption and production ...
15,13,Climate Action,Take urgent action to combat climate change an...
16,14,Life Below Water,"Conserve and sustainably use the oceans, seas ..."
17,15,Life on Land,"Protect, restore and promote sustainable use o..."
18,16,"Peace, Justice and Strong Institutions",Promote peaceful and inclusive societies for s...
19,17,Partnerships for the Goals,Strengthen the means of implementation and rev...

In [59]:
sdg_names = sdg_names.drop([0,1,2], axis=0)
sdg_names = sdg_names.set_axis(["sdg", "sdg_name", "sdg_definition"],axis=1, copy=False)
sdg_names

,sdg,sdg_name,sdg_definition
3,1,No Poverty,End poverty in all its forms everywhere
4,2,Zero Hunger,"End hunger, achieve food security and improved..."
5,3,Good Health and Well Being,Ensure healthy lives and promote well-being fo...
6,4,Quality Education,Ensure inclusive and equitable quality educati...
7,5,Gender Equality,Achieve gender equality and empower all women ...
8,6,Clean Water and Sanitation,Ensure availability and sustainable management...
9,7,Affordable and Clean Energy,"Ensure access to affordable, reliable, sustain..."
10,8,Decent Work and Economic Growth,"Promote sustained, inclusive and sustainable e..."
11,9,"Industry, Innovation and Infrastructure","Build resilient infrastructure, promote inclus..."
12,10,Reduced Inequalities,Reduce inequality within and among countries
13,11,Sustainable Cities and Communities,"Make cities and human settlements inclusive, s..."
14,12,Responsible Consumption and Production,Ensure sustainable consumption and production ...
15,13,Climate Action,Take urgent action to combat climate change an...
16,14,Life Below Water,"Conserve and sustainably use the oceans, seas ..."
17,15,Life on Land,"Protect, restore and promote sustainable use o..."
18,16,"Peace, Justice and Strong Institutions",Promote peaceful and inclusive societies for s...
19,17,Partnerships for the Goals,Strengthen the means of implementation and rev...

In [60]:
text_df = pd.read_csv("/Users/aidan/Documents/applieddatascience/sample_code/osdg-community-data-v2023-01-01.csv", sep = "\t")
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40062 entries, 0 to 40061
Data columns (total 1 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   doi	text_id	text	sdg	labels_negative	labels_positive	agreement  40062 non-null  object
dtypes: object(1)
memory usage: 313.1+ KB

In [61]:
col_names = text_df.columns.values[0].split('\t')
text_df[col_names] = text_df[text_df.columns.values[0]].apply(lambda x: pd.Series(str(x).split("\t")))
text_df.drop(text_df.columns.values[0],axis = 1, inplace=True)
text_df = text_df.astype({'sdg':int, 'labels_negative': int, 'labels_positive':int, 'agreement': float}, copy=True)
text_df = text_df.query("agreement > 0.5 and (labels_positive - labels_negative) > 2")
text_df.reset_index(inplace=True)
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24669 entries, 0 to 24668
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            24669 non-null  int64
 1   doi              24669 non-null  object
 2   text_id          24669 non-null  object
 3   text             24669 non-null  object
 4   sdg              24669 non-null  int64
 5   labels_negative  24669 non-null  int64
 6   labels_positive  24669 non-null  int64
 7   agreement        24669 non-null  float64
dtypes: float64(1), int64(4), object(3)
memory usage: 1.5+ MB

In [62]:
docs = text_df.text
categories = text_df.sdg
X_train, X_test, y_train, y_test = \
    train_test_split(docs, categories, test_size=0.33, random_state=7)

- This is the train-test split that will be used to test and evaluate different classifiers' ability to sort different documents into their corresponding SDG goals.

#### Classifier and Evaluation Table Functions

In [63]:
def classifier( text_df,estimators = [('myvec',CountVectorizer(ngram_range=(2,2),stop_words = "english", min_df = 5)),('my_clf',MultinomialNB())], ngram_range = (2,2), min_df = 5, stop_words = 'english'):
    X_train, X_test, y_train, y_test = \
        train_test_split(text_df.text, text_df.sdg, test_size=0.33, random_state=7)
    model = Pipeline(estimators)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    f1= metrics.f1_score(y_test,y_pred, average = 'weighted')
    accuracy = metrics.accuracy_score(y_test, y_pred)
    precision = metrics.precision_score(y_test, y_pred, average = 'weighted')
    recall = metrics.recall_score(y_test, y_pred, average = 'weighted')
    return  precision, recall, f1, accuracy

- Classifier Function takes in a data frame, a vectorization method(tfidf or MyVectorizer), and a classification method(MultinomialNB, MLP, or Ridge) and outputs 4 parameters to describe this combination of vectorizer and classifier's abillity to correctly classify documents into their correct sdg type

In [64]:
def evaluation_table(text_df, vectorizer = 'count', ngr = (2,2), mdf = 5, sw = 'english'):
    if (vectorizer == 'count'):
        MNB = classifier(text_df,estimators = [('myvec',CountVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                 ,('my_clf',MultinomialNB())])
        MLP = classifier(text_df,estimators = [('myvec',CountVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                 ,('my_clf',MLPClassifier(max_iter = 10))])
        Ridge = classifier(text_df,estimators = [('myvec',CountVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                 ,('my_clf',RidgeClassifier())])
        
    elif (vectorizer == 'tfidf'):
        MNB = classifier(text_df,estimators = [('myvec',TfidfVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                   ,('my_clf',MultinomialNB())])
        MLP = classifier(text_df,estimators = [('myvec',TfidfVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                    ,('my_clf',MLPClassifier(max_iter = 10))])
        Ridge = classifier(text_df,estimators = [('myvec',TfidfVectorizer(ngram_range= ngr,stop_words = sw, min_df = mdf))
                                    ,('my_clf',RidgeClassifier())])
    else:
        MNB = ()
        MLP = ()
        Ridge = ()
        
    data = [MNB,MLP,Ridge]
    data = np.transpose(data)
    table = pd.DataFrame(data, index = ['Precision','Recall','F1','Accuracy'], columns =['MNB','MLP','Ridge'])
    return table

- Evaluation table takes in a text_df and a vectorizer type and returns a table of the four parameters for each of the three classifier types for the current setting. The vectorizer type, ngram range, and min_df can all be tweaked to change the results.

### Running the trials

- The following loop will run the evaluation_table on all different combinations between min_df values, ngram range, and vectorizer type and compile the results into one table

In [65]:
import itertools
import warnings 
from sklearn.exceptions import ConvergenceWarning

warnings.simplefilter(action = 'ignore', category=FutureWarning)
warnings.simplefilter(action = 'ignore', category=ConvergenceWarning)

vectorizers = ['tfidf', 'count']
classifiers = ['Ridge','MLP','MNB']
min_dfs = [3,4,5,6,7]
ngram_ranges =[(1,1),(2,2),(1,2)]

results_df = pd.DataFrame(columns=['ngram_range', 'min_df', 'Vectorizer','Classifier','Precision','Recall','F1','Accuracy'])

for v, m, n in itertools.product(vectorizers, min_dfs, ngram_ranges):
    eval_table = evaluation_table(text_df, vectorizer = v, mdf = m, ngr = n)
    eval_table = eval_table.transpose()
    for c in classifiers:
        precision = eval_table['Precision'][c]
        recall = eval_table['Recall'][c]
        f1 = eval_table['F1'][c]
        accuracy = eval_table['Accuracy'][c]
        results_df = results_df.append({
           'Vectorizer': v,
            'Classifier': c,
            'min_df': m,
            'ngram_range': n,
            'Precision': precision,
            'Recall': recall,
            'F1': f1,
            'Accuracy': accuracy
        }, ignore_index=True)

In [66]:
results_df.sort_values(by='Accuracy',ascending=False,inplace=True)
results_df = results_df.reset_index().drop(['index'],axis=1)

In [67]:
results_df.describe()

       Precision     Recall         F1   Accuracy
count  90.000000  90.000000  90.000000  90.000000
mean    0.822517   0.816665   0.809592   0.816665
std     0.058617   0.065309   0.072126   0.065309
min     0.679848   0.682594   0.667226   0.682594
25%     0.780180   0.762130   0.750293   0.762130
50%     0.814807   0.814949   0.813481   0.814949
75%     0.881308   0.883153   0.881532   0.883153
max     0.894404   0.895836   0.894717   0.895836

In [68]:
def highlight_top_row(s):
    if s.name == 0:
        return ['font-weight: bold'] * len(s)
    else:
        return [''] * len(s)

styled_df = results_df.style.apply(highlight_top_row, axis=1)

In [69]:
styled_df

- The top, bolded row is the configuration with the highest precision, recall, F1, and accuracy. The rest of the table is sorted by descending accuracy values.

- It would appear that by all four metrics used, the best configuration out of those tested is a min_df of 3, an n_gram range of (1,2), the tfidf vectorizer, and the MLP classifier.

#### Finding the most differentiating features

- Now the most effective configuration from earlier can be used to find the most differentiating features within the documents

In [70]:
X_train_tfidf_vectorizer = TfidfVectorizer(ngram_range=(1,2), stop_words = "english",min_df=7 )
X_train_tfidf_vectorizer.fit(X_train)
labels = X_train_tfidf_vectorizer.get_feature_names_out()

X_train_tfidf_vector = X_train_tfidf_vectorizer.transform(X_train)
X_test_tfidf_vector = X_train_tfidf_vectorizer.transform(X_test)

tfidf_MNB_clf = MultinomialNB().fit(X_train_tfidf_vector, y_train)

In [71]:
def most_informative_feature_for_class(vectorizer, classifier, classlabel, n=10):
    for labelid in classlabel:
        feature_names = vectorizer.get_feature_names_out()
        top_n = sorted(zip(classifier.feature_log_prob_[labelid], feature_names), reverse=True)[:n]
        for coef, feat in top_n:
            print("SDG {} : {:30}  {:.6}".format((labelid+1), feat, coef))
        print("")

In [78]:
most_informative_feature_for_class(X_train_tfidf_vectorizer,tfidf_MNB_clf, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], n = 20)

SDG 1 : poverty                         -5.31051
SDG 1 : income                          -6.22083
SDG 1 : poor                            -6.3083
SDG 1 : children                        -6.44797
SDG 1 : households                      -6.79279
SDG 1 : social                          -6.79298
SDG 1 : deprivation                     -6.80614
SDG 1 : child                           -6.80743
SDG 1 : countries                       -6.85516
SDG 1 : household                       -6.9804
SDG 1 : living                          -7.13178
SDG 1 : child poverty                   -7.17395
SDG 1 : population                      -7.24999
SDG 1 : rates                           -7.26227
SDG 1 : growth                          -7.28473
SDG 1 : cent                            -7.30973
SDG 1 : people                          -7.32112
SDG 1 : rate                            -7.3648
SDG 1 : families                        -7.38051
SDG 1 : line                            -7.39858

SDG 2 : food                            -5.80369
SDG 2 : agricultural                    -6.40465
SDG 2 : production                      -6.82626
SDG 2 : price                           -7.01253
SDG 2 : prices                          -7.01737
SDG 2 : farmers                         -7.0633
SDG 2 : agriculture                     -7.14442
SDG 2 : food security                   -7.1766
SDG 2 : rice                            -7.19925
SDG 2 : farm                            -7.31654
SDG 2 : security                        -7.38827
SDG 2 : land                            -7.3884
SDG 2 : trade                           -7.39133
SDG 2 : countries                       -7.39491
SDG 2 : crops                           -7.43815
SDG 2 : food insecurity                 -7.50848
SDG 2 : insecurity                      -7.5503
SDG 2 : rural                           -7.58492
SDG 2 : support                         -7.58807
SDG 2 : world                           -7.5899

SDG 3 : health                          -5.27745
SDG 3 : care                            -5.51743
SDG 3 : health care                     -6.39258
SDG 3 : services                        -6.61024
SDG 3 : patients                        -6.67817
SDG 3 : mental                          -6.67918
SDG 3 : hospital                        -6.84394
SDG 3 : primary                         -6.86224
SDG 3 : primary care                    -6.88904
SDG 3 : countries                       -6.93187
SDG 3 : patient                         -6.98193
SDG 3 : medical                         -7.00416
SDG 3 : mental health                   -7.00746
SDG 3 : quality                         -7.01901
SDG 3 : mortality                       -7.04548
SDG 3 : oecd                            -7.114
SDG 3 : hospitals                       -7.11773
SDG 3 : population                      -7.11819
SDG 3 : data                            -7.25298
SDG 3 : disease                         -7.25697

SDG 4 : education                       -5.38632
SDG 4 : school                          -5.62401
SDG 4 : students                        -5.63323
SDG 4 : schools                         -5.84525
SDG 4 : teachers                        -5.87235
SDG 4 : learning                        -6.19193
SDG 4 : teacher                         -6.39066
SDG 4 : skills                          -6.48197
SDG 4 : teaching                        -6.51971
SDG 4 : oecd                            -6.59779
SDG 4 : student                         -6.60548
SDG 4 : secondary                       -6.80036
SDG 4 : training                        -6.86696
SDG 4 : countries                       -6.88495
SDG 4 : quality                         -6.93847
SDG 4 : higher                          -6.96022
SDG 4 : children                        -6.97849
SDG 4 : level                           -6.97993
SDG 4 : performance                     -6.99441
SDG 4 : educational                     -7.00436

SDG 5 : women                           -4.91849
SDG 5 : gender                          -5.43597
SDG 5 : men                             -6.10687
SDG 5 : equality                        -6.45559
SDG 5 : work                            -6.59765
SDG 5 : female                          -6.61555
SDG 5 : gender equality                 -6.66549
SDG 5 : violence                        -6.6781
SDG 5 : countries                       -6.73188
SDG 5 : labour                          -6.81589
SDG 5 : social                          -6.86412
SDG 5 : family                          -6.87776
SDG 5 : rights                          -6.89338
SDG 5 : girls                           -6.90206
SDG 5 : time                            -6.92398
SDG 5 : care                            -7.04091
SDG 5 : employment                      -7.04861
SDG 5 : participation                   -7.06247
SDG 5 : education                       -7.17919
SDG 5 : children                        -7.18289

SDG 6 : water                           -4.8656
SDG 6 : groundwater                     -6.60358
SDG 6 : river                           -6.70086
SDG 6 : management                      -6.81704
SDG 6 : irrigation                      -6.90193
SDG 6 : basin                           -6.91681
SDG 6 : water resources                 -7.12514
SDG 6 : water supply                    -7.16661
SDG 6 : resources                       -7.18508
SDG 6 : wastewater                      -7.19132
SDG 6 : supply                          -7.19481
SDG 6 : pollution                       -7.21114
SDG 6 : use                             -7.21264
SDG 6 : quality                         -7.25259
SDG 6 : surface                         -7.4133
SDG 6 : agriculture                     -7.4171
SDG 6 : environmental                   -7.42297
SDG 6 : drinking                        -7.4268
SDG 6 : water quality                   -7.43911
SDG 6 : sanitation                      -7.46019

SDG 7 : energy                          -5.11997
SDG 7 : electricity                     -6.00719
SDG 7 : power                           -6.30676
SDG 7 : renewable                       -6.45033
SDG 7 : efficiency                      -6.66642
SDG 7 : energy efficiency               -6.76781
SDG 7 : costs                           -6.79138
SDG 7 : renewable energy                -6.79751
SDG 7 : nuclear                         -6.80633
SDG 7 : wind                            -6.83182
SDG 7 : technologies                    -6.84915
SDG 7 : generation                      -6.84929
SDG 7 : capacity                        -6.8585
SDG 7 : gas                             -6.93379
SDG 7 : supply                          -6.94771
SDG 7 : grid                            -6.98343
SDG 7 : cost                            -6.98509
SDG 7 : fuel                            -7.03233
SDG 7 : emissions                       -7.04442
SDG 7 : solar                           -7.05907

SDG 8 : employment                      -6.59252
SDG 8 : labour                          -6.63278
SDG 8 : workers                         -6.7756
SDG 8 : job                             -7.08885
SDG 8 : unemployment                    -7.14799
SDG 8 : work                            -7.15525
SDG 8 : jobs                            -7.34986
SDG 8 : labour market                   -7.35988
SDG 8 : market                          -7.36422
SDG 8 : youth                           -7.38035
SDG 8 : training                        -7.46809
SDG 8 : growth                          -7.51587
SDG 8 : countries                       -7.55662
SDG 8 : tourism                         -7.61166
SDG 8 : sector                          -7.66044
SDG 8 : income                          -7.6974
SDG 8 : economic                        -7.70867
SDG 8 : wage                            -7.72101
SDG 8 : skills                          -7.72961
SDG 8 : social                          -7.75876

SDG 9 : innovation                      -6.73501
SDG 9 : infrastructure                  -6.99414
SDG 9 : digital                         -7.1343
SDG 9 : development                     -7.1378
SDG 9 : technology                      -7.14266
SDG 9 : broadband                       -7.24691
SDG 9 : mobile                          -7.25338
SDG 9 : internet                        -7.29975
SDG 9 : ict                             -7.30198
SDG 9 : countries                       -7.3524
SDG 9 : new                             -7.39181
SDG 9 : services                        -7.41141
SDG 9 : access                          -7.49189
SDG 9 : firms                           -7.51399
SDG 9 : technologies                    -7.52543
SDG 9 : data                            -7.54798
SDG 9 : research                        -7.60359
SDG 9 : policy                          -7.61033
SDG 9 : business                        -7.62219
SDG 9 : growth                          -7.6318

SDG 10 : income                          -6.21808
SDG 10 : inequality                      -6.30434
SDG 10 : countries                       -7.09741
SDG 10 : tax                             -7.109
SDG 10 : social                          -7.21013
SDG 10 : labour                          -7.30828
SDG 10 : distribution                    -7.39162
SDG 10 : income inequality               -7.39223
SDG 10 : workers                         -7.49082
SDG 10 : growth                          -7.49321
SDG 10 : incomes                         -7.50666
SDG 10 : oecd                            -7.55306
SDG 10 : benefit                         -7.575
SDG 10 : market                          -7.58513
SDG 10 : wage                            -7.60742
SDG 10 : benefits                        -7.60945
SDG 10 : unemployment                    -7.6158
SDG 10 : employment                      -7.61887
SDG 10 : household                       -7.6452
SDG 10 : taxes                           -7.67462

SDG 11 : urban                           -6.13885
SDG 11 : transport                       -6.35396
SDG 11 : cities                          -6.37061
SDG 11 : city                            -6.43975
SDG 11 : development                     -6.75053
SDG 11 : housing                         -6.83332
SDG 11 : land                            -6.88431
SDG 11 : public                          -6.89193
SDG 11 : planning                        -6.90961
SDG 11 : local                           -7.08824
SDG 11 : road                            -7.11406
SDG 11 : public transport                -7.14384
SDG 11 : use                             -7.18263
SDG 11 : areas                           -7.22855
SDG 11 : government                      -7.27691
SDG 11 : national                        -7.28488
SDG 11 : plans                           -7.30869
SDG 11 : infrastructure                  -7.34835
SDG 11 : land use                        -7.38886
SDG 11 : traffic                         -7.39112

SDG 12 : waste                           -5.77557
SDG 12 : recycling                       -7.15702
SDG 12 : environmental                   -7.21462
SDG 12 : management                      -7.26271
SDG 12 : waste management                -7.35187
SDG 12 : collection                      -7.38341
SDG 12 : consumption                     -7.52214
SDG 12 : materials                       -7.57343
SDG 12 : products                        -7.59084
SDG 12 : production                      -7.6116
SDG 12 : food                            -7.65116
SDG 12 : resource                        -7.6913
SDG 12 : countries                       -7.71321
SDG 12 : material                        -7.71329
SDG 12 : sustainable                     -7.77262
SDG 12 : energy                          -7.80618
SDG 12 : product                         -7.83567
SDG 12 : disposal                        -7.84697
SDG 12 : economic                        -7.91888
SDG 12 : msw                             -7.92491

SDG 13 : climate                         -5.41739
SDG 13 : adaptation                      -6.15494
SDG 13 : climate change                  -6.22046
SDG 13 : finance                         -6.22951
SDG 13 : change                          -6.29264
SDG 13 : climate finance                 -6.57576
SDG 13 : development                     -6.68107
SDG 13 : countries                       -6.79411
SDG 13 : mitigation                      -7.02646
SDG 13 : information                     -7.03423
SDG 13 : agreement                       -7.12175
SDG 13 : emissions                       -7.12656
SDG 13 : national                        -7.29003
SDG 13 : paris                           -7.3093
SDG 13 : global                          -7.32035
SDG 13 : parties                         -7.32691
SDG 13 : sector                          -7.37224
SDG 13 : unfccc                          -7.39414
SDG 13 : country                         -7.3952
SDG 13 : support                         -7.4013

SDG 14 : fisheries                       -6.15739
SDG 14 : fish                            -6.4716
SDG 14 : fishing                         -6.53198
SDG 14 : marine                          -6.79415
SDG 14 : aquaculture                     -6.91871
SDG 14 : management                      -7.10709
SDG 14 : ocean                           -7.12986
SDG 14 : species                         -7.16504
SDG 14 : sea                             -7.25047
SDG 14 : vessels                         -7.31534
SDG 14 : fishery                         -7.35674
SDG 14 : stocks                          -7.37204
SDG 14 : coastal                         -7.41131
SDG 14 : production                      -7.41477
SDG 14 : catch                           -7.43522
SDG 14 : fishers                         -7.57856
SDG 14 : value                           -7.69534
SDG 14 : quota                           -7.7623
SDG 14 : stock                           -7.78973
SDG 14 : total                           -7.79392

SDG 15 : forest                          -6.06412
SDG 15 : biodiversity                    -6.25094
SDG 15 : forests                         -6.44802
SDG 15 : species                         -6.76479
SDG 15 : protected                       -6.96246
SDG 15 : areas                           -6.9861
SDG 15 : land                            -7.11755
SDG 15 : protected areas                 -7.21062
SDG 15 : ecosystem                       -7.30856
SDG 15 : forestry                        -7.31806
SDG 15 : management                      -7.32587
SDG 15 : area                            -7.32905
SDG 15 : conservation                    -7.32956
SDG 15 : national                        -7.42296
SDG 15 : natural                         -7.46349
SDG 15 : use                             -7.60011
SDG 15 : ecosystem services              -7.62444
SDG 15 : ecosystems                      -7.65122
SDG 15 : protection                      -7.66325
SDG 15 : sustainable                     -7.67094

SDG 16 : law                             -5.49492
SDG 16 : rights                          -5.66928
SDG 16 : international                   -5.84608
SDG 16 : human                           -5.99522
SDG 16 : human rights                    -6.03106
SDG 16 : article                         -6.16812
SDG 16 : political                       -6.38621
SDG 16 : court                           -6.40927
SDG 16 : legal                           -6.48079
SDG 16 : public                          -6.49664
SDG 16 : social                          -6.59729
SDG 16 : governance                      -6.64642
SDG 16 : state                           -6.70829
SDG 16 : criminal                        -6.71325
SDG 16 : international law               -6.72958
SDG 16 : justice                         -6.73787
SDG 16 : corruption                      -6.80616
SDG 16 : policy                          -6.83642
SDG 16 : paper                           -6.9058
SDG 16 : conflict                        -6.90787

- The most differentiating features for each SDG can be seen above. There is some overlap between SDGs, for example 'rights' shoes up in SDG 5 and 16.